# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/xcode/LSystem.xcodeproj/project.xcworkspace/xcuserdata/shanley.xcuserdatad/UserInterfaceState.xcuserstate
